@page
@model IntroModel
@{
    ViewData["Title"] = "Intro";
}
<h3>Kunwar Vats</h3>


<form oninput="total.value = f.value + s.value">
    <label for="f">First number:</label><br>
    <input type="number" id="f" name="f" value="0"><br>
    <label for="s">Second number:</label><br>
    <input type="number" id="s" name="s" value="0"><br><br>
    <input type="submit" value="Submit"><br>
    <output name="total" for="f s" value=""></output><br><br>

</form>

<section>
    <h2>Intro History</h2>
    <p>
        Lorem ipsum ipsum dolor sit amet. Nam dolores doloribus sit accusantium velit non sapiente quia ut ducimus veritatis. Aut tenetur cupiditate vel praesentium pariatur qui doloremque consequatur vel ratione voluptas.

        Qui maiores autem est expedita voluptatum ut dolores molestiae ab atque nihil. Qui nobis dolorem est voluptas sequi et expedita esse ut sequi quisquam et accusantium culpa et dolores omnis aut nobis consectetur? Eum placeat dolores aut voluptatum culpa in exercitationem ipsum ex similique iure. Ut porro tempore 33 voluptas soluta est incidunt harum.
    </p>
</section>